$main-purple-color: rgba(124, 92, 225, 0.6);
$create-color: rgb(51, 133, 255);
$text-hover-color: white;
$table-header-background: rgba(124, 92, 225, 0.6);
$list-hover-color: rgb(238, 232, 255);
$destroy-color: rgba(255, 58, 51, 0.8);
