.destroy_item {
  border: 1px solid;
  border-radius: 4px;
  color: rgba(255, 58, 51, 0.8);
  background-color: inherit;
  border-color: rgba(255, 58, 51, 0.8);
  padding: 4px;
  margin-top: 1%;
  margin-right: 10px;
  transition: all 0.3s;
}

.destroy_item:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(255, 58, 51, 0.8);
  transition: all 0.3s;
}

.item_content {
  margin-top: 5px;
}

.single_item {
  margin-left: 1px;
  margin-right: 1px;
  margin-bottom: 4px;
  transition: all 0.5s;
}

.single_item:hover {
  background-color: white;
  border-radius: 5px;
  transition: all 0.5s;
}
