.header_navbar {
  margin-bottom: 20px;
}

/* header signup_button */
.header_signup {
  border-radius: 4px;
  color: rgba(124, 92, 225, 0.6);
  background-color: inherit;
  border: 1px solid rgba(124, 92, 225, 0.6);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s;
}

.header_signup:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(124, 92, 225, 0.6);
}

/* header signin_button */
.header_signin {
  border-radius: 4px;
  color: rgba(124, 92, 225, 0.6);
  background-color: inherit;
  border: 1px solid rgba(124, 92, 225, 0.6);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s;
  margin-right: 10px;
}

.header_signin:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(124, 92, 225, 0.6);
}

/* change language buttons */
.button_ru {
  border-radius: 4px;
  color: rgba(124, 92, 225, 0.6);
  background-color: inherit;
  border: 1px solid rgba(124, 92, 225, 0.6);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s;
}

.button_ru:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(124, 92, 225, 0.6);
}

.button_en {
  border-radius: 4px;
  color: rgba(124, 92, 225, 0.6);
  background-color: inherit;
  border: 1px solid rgba(124, 92, 225, 0.6);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s;
}

.button_en:hover {
  color: white;
  cursor: pointer;
  background-color: rgba(124, 92, 225, 0.6);
}
